
<%- include("header") -%>
<link href="/stylesheet.css" rel="stylesheet" type="text/css">
<div class="box1" id="heading">
    
    <h1>To DO</h1>
    </div>

    <div class="box">


     <form >
     <div class="item">
         <div class="round">
         <input type="checkbox"id="checkbox">

         <label for="checkbox"></label>
         </div>
         <p>Breakfast</p>
        <br>
     </div>

     </form>

     <form >
     <div class="item">
         <div class="round">
         <input type="checkbox" id="checkbox">

         <label for="checkbox"></label>
         </div>
         <p>Lunch</p>
        <br>
     </div>

     </form>

     <form >
     <div class="item">
         <div class="round">
         <input type="checkbox" id="checkbox">

         <label for="checkbox"></label>
         </div>
         <p>Snaks</p>
        <br>
     </div>

     </form>

     <form >
     <div class="item">
         <div class="round">
         <input type="checkbox" id="checkbox">

         <label for="checkbox"></label>
         </div>
         <p>Dinner</p>
        <br>
     </div>

     </form>

     <form >
     <div class="item">
         <div class="round">
         <input type="checkbox"id="checkbox">

         <label for="checkbox"></label>
         </div>
         <p>Finish</p>
        <br>
     </div>

     </form>


    <form class="item" action="/" method="post" >
     <input type="text" name="n"  placeholder="new"><hr>
     <button id="b" type="submit"></button> <span id="s2"></span>+</span></button> 
 </form>
    </div>

